* {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  color: #303030;
}

h2 {
  font-weight: 800 !important;
}

.App {
  display: flex;
  flex-direction: row;
}

h3 {
  font-weight: 400 !important;
  font-size: 20px !important;
  color: #d2ad89 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(210, 173, 137, 0.2) !important;
}

.table td,
.table th {
  border: none !important;
}

.table thead th {
  font-weight: 600 !important;
  font-size: 20px;
}
